#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container{
  width: 80%;
  height: 200px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coluna1 {
  background-color: red;
  list-style: none;
}

.coluna2 {
  background-color: green;
list-style: none;}